html,
body {
  padding: 0;
  margin: 0;
  font-family: 'SF Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul, li, p, button {
  padding: 0;
  margin: 0;
}


input, textarea, button {
  outline: none;
}

button {
  border: 0;
  background: transparent;
}
